In [1]:
# Int
a = 5678
print(a,type(a))

5678 <class 'int'>

In [2]:
# Float
a = 4567.8765
print(a,type(a))

4567.8765 <class 'float'>

In [3]:
# Complex
a = 456 + 8j
print(a,type(a))

(456+8j) <class 'complex'>

In [4]:
# Int,float, Complex = Numerical

In [5]:
# Str, double, triple
a = 'Hello Python'
print(a,type(a))

Hello Python <class 'str'>

In [6]:
poem = '''Twinkle twinkle little star
How I wonder what you are
Up above the world so high
Like a diamond in the sky
Twinkle twinkle little star
How I wonder what you are



Twinkle twinkle little star
How I wonder what you are
Up above the world so high
Like a diamond in the sky
Twinkle twinkle little star
How I wonder what you are'''


print(poem)

Twinkle twinkle little star
How I wonder what you are
Up above the world so high
Like a diamond in the sky
Twinkle twinkle little star
How I wonder what you are



Twinkle twinkle little star
How I wonder what you are
Up above the world so high
Like a diamond in the sky
Twinkle twinkle little star
How I wonder what you are

In [7]:
# tuple
a = (2,3434,5,5467)
print(a,type(a))

(2, 3434, 5, 5467) <class 'tuple'>

In [8]:
# tuple
a = (2,)
print(a,type(a))

(2,) <class 'tuple'>

In [9]:
# tuple
a = [2,3434,5,5467]
print(a,type(a))

[2, 3434, 5, 5467] <class 'list'>

In [10]:
a[2] = 4000

In [11]:
print(a)

[2, 3434, 4000, 5467]

In [12]:
a = (3,544,5,346,567)

print(a[3])

346

In [13]:
a[3] = 900

TypeError: 'tuple' object does not support item assignment

In [14]:
a = list(a)
a[3] = 900
a = tuple(a)
print(a)

(3, 544, 5, 900, 567)

In [15]:
std_id = [1,1,2,2,2,2,23,3,3,3,4,4,45]

print(std_id)

[1, 1, 2, 2, 2, 2, 23, 3, 3, 3, 4, 4, 45]

In [16]:
std_id = list(set(std_id))
print(std_id)

[1, 2, 3, 4, 45, 23]

In [17]:
# dict:- key value pair datatype, # hash

a = {'Name':'Aman','Age':23,'Address':'Delhi'}
print(a,type(a))

{'Name': 'Aman', 'Age': 23, 'Address': 'Delhi'} <class 'dict'>

In [18]:
a['Address'] = 'Noida/Gr Noida'

In [19]:
print(a)

{'Name': 'Aman', 'Age': 23, 'Address': 'Noida/Gr Noida'}

In [20]:
a['Name'] = 'Aman Kumar'

In [21]:
print(a)

{'Name': 'Aman Kumar', 'Age': 23, 'Address': 'Noida/Gr Noida'}

In [22]:
data = {'Region':['West','East','North','South'],
        'Sales':[345,546,453,456],
        'Profit':[120,200,90,78]}

print(data)

{'Region': ['West', 'East', 'North', 'South'], 'Sales': [345, 546, 453, 456], 'Profit': [120, 200, 90, 78]}

In [23]:
import pandas as pd

table = pd.DataFrame(data)
table

  Region  Sales  Profit
0   West    345     120
1   East    546     200
2  North    453      90
3  South    456      78

In [24]:
table

  Region  Sales  Profit
0   West    345     120
1   East    546     200
2  North    453      90
3  South    456      78

In [25]:
a = True
print(a,type(a))

True <class 'bool'>

In [26]:
# #int,float, complex
# str, tuple, list
# set, dict,
# # bool

In [27]:
# salary = 56789

# >= 50: manager
# >= 30: Jr manager
# >= 20: Executive
# Intern

In [28]:
salary = 27800
if salary >= 50000:
  print('Manager')
elif salary >= 30000:
  print('Jr Manager')
elif salary >= 20000:
  print('Executive')
else:
  print('Intern')

Executive

In [29]:
import random
random.randint(10000,60000,5)

TypeError: Random.randint() takes 3 positional arguments but 4 were given

In [30]:
import numpy as np
database_salary = np.random.randint(10000,60000,5)

In [31]:
print(salary)

27800

In [32]:
for i in database_salary:
  salary = i
  if salary >= 50000:
    print(i, 'Manager')
  elif salary >= 30000:
    print(i, 'Jr Manager')
  elif salary >= 20000:
    print(i, 'Executive')
  else:
    print(i, 'Intern')

34370 Jr Manager
11984 Intern
56298 Manager
32685 Jr Manager
14163 Intern

In [33]:
import time
for i in range(20):
  print(time.asctime())
  time.sleep(1)
  display(clear= True)

Tue Jul 22 14:16:22 2025

In [34]:
import random
comp_choice = random.randint(1,10)
user_choice = int(input('Enter your Choice(1-10): '))

print(f'''
User choice: {user_choice}
Computer Choice: {comp_choice}''')

if user_choice == comp_choice:
  print('User Won, Comp Lose!!')
else:
  print('Better Luck next time!!')

Enter your Choice(1-10):  1

User choice: 1
Computer Choice: 1
User Won, Comp Lose!!

In [35]:
user_attempts = 3
import random
for i in range(user_attempts):
  comp_choice = random.randint(1,10)
  user_choice = int(input('Enter your Choice(1-10): '))

  print(f'''
  User choice: {user_choice}
  Computer Choice: {comp_choice}''')

  if user_choice == comp_choice:
    print('User Won, Comp Lose!!')
  else:
    print('Better Luck next time!!')

Enter your Choice(1-10):  2

  User choice: 2
  Computer Choice: 6
Better Luck next time!!

Enter your Choice(1-10):  4

  User choice: 4
  Computer Choice: 4
User Won, Comp Lose!!

Enter your Choice(1-10):  4

  User choice: 4
  Computer Choice: 7
Better Luck next time!!

In [37]:
Questions = {1:'What is the capital of Australia?',
             2:'Who invented the telephone?',
             3:'Which planet is known as the Red Planet?',
             4:'In which year did India gain independence?',
             5:'What is the largest organ in the human body?'}

options = {1:'''A) Sydney
B) Melbourne
C) Canberra
D) Perth''',
           2:'''A) Albert Einstein
B) Isaac Newton
C) Alexander Graham Bell
D) Thomas Edison''',
           3:'''A) Earth
B) Venus
C) Jupiter
D) Mars''',
           4:'''A) 1945
B) 1946
C) 1947
D) 1950''',
           5:'''A) Liver
B) Brain
C) Skin
D) Heart'''}

win_ammount = 0

correct_op = ['C','C','D','C','C']

for i in range(1,len(Questions)+1):
  print(f'Question {i}: ',Questions[i])
  print(options[i])
  user_choice = input('Enter your choice: ').upper()

  correct_ans = correct_op[i-1]
  # print(correct_ans)
  if user_choice == correct_ans:
    win_ammount += 10000
    print('Correct Answer!!')
    print(end = '\n'*3)

  else:
    print('Better luck next time!!')
    break


print('Total Amount',win_ammount)

Question 1:  What is the capital of Australia?
A) Sydney
B) Melbourne
C) Canberra
D) Perth

Enter your choice:  C

Correct Answer!!



Question 2:  Who invented the telephone?
A) Albert Einstein
B) Isaac Newton
C) Alexander Graham Bell
D) Thomas Edison

Enter your choice:  C

Correct Answer!!



Question 3:  Which planet is known as the Red Planet?
A) Earth
B) Venus
C) Jupiter
D) Mars

Enter your choice:  D

Correct Answer!!



Question 4:  In which year did India gain independence?
A) 1945
B) 1946
C) 1947
D) 1950

Enter your choice:  C

Correct Answer!!



Question 5:  What is the largest organ in the human body?
A) Liver
B) Brain
C) Skin
D) Heart

Enter your choice:  C

Correct Answer!!



Total Amount 50000

In [38]:
def say_hello(name):
  print(f'Hello {name},','how are you??')

In [39]:
say_hello('Mohan')

Hello Mohan, how are you??

In [40]:
def vote(age):
  print('can Vote!!') if age >= 18 else print('can not Vote!!')

In [41]:
vote(3)

can not Vote!!

In [42]:
!pip install gTTS

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: gTTS in c:\programdata\anaconda3\lib\site-packages (2.5.4)
Requirement already satisfied: requests<3,>=2.27 in c:\programdata\anaconda3\lib\site-packages (from gTTS) (2.32.3)
Requirement already satisfied: click<8.2,>=7.1 in c:\programdata\anaconda3\lib\site-packages (from gTTS) (8.1.7)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from click<8.2,>=7.1->gTTS) (0.4.6)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\programdata\anaconda3\lib\site-packages (from requests<3,>=2.27->gTTS) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests<3,>=2.27->gTTS) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\mohiv\appdata\roaming\python\python312\site-packages (from requests<3,>=2.27->gTTS) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests<3,>=2.27->gTTS) (2025.6.15)

In [43]:
def sound_box(paisa,platform = 'Paytm'):
 from gtts import gTTS
 text  = f'''{platform} par {paisa} rs Prapt hue.'''
 audio = gTTS(text)
 audio.save('paytm.mp3')

import pygame as p
p.init()

music = p.mixer.Sound('paytm.mp3')
music.play()

pygame 2.6.1 (SDL 2.28.4, Python 3.12.7)
Hello from the pygame community. https://www.pygame.org/contribute.html

FileNotFoundError: No file 'paytm.mp3' found in working directory 'C:\Users\mohiv\Downloads'.

In [44]:
!pip install pygame

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pygame in c:\programdata\anaconda3\lib\site-packages (2.6.1)