In [1]:
# Int
a = 5678
print(a,type(a))

5678 <class 'int'>

In [2]:
# Float
a = 4567.8765
print(a,type(a))

4567.8765 <class 'float'>

In [3]:
# pip install qrcode

In [4]:
import qrcode
img = qrcode.make('https://colab.research.google.com/drive/1mcwryu-5DRrBIAnZx-ezis0r7PrfmPBA?usp=sharing')
img.save('myqr.png')

In [5]:
# Complex
a = 456 + 8j
print(a,type(a))

(456+8j) <class 'complex'>

In [6]:
# Int,float, Complex = Numerical

In [7]:
# Str, double, triple
a = 'Hello Python'
print(a,type(a))

Hello Python <class 'str'>

In [8]:
poem = '''Twinkle twinkle little star
How I wonder what you are
Up above the world so high
Like a diamond in the sky
Twinkle twinkle little star
How I wonder what you are



Twinkle twinkle little star
How I wonder what you are
Up above the world so high
Like a diamond in the sky
Twinkle twinkle little star
How I wonder what you are'''


print(poem)

Twinkle twinkle little star
How I wonder what you are
Up above the world so high
Like a diamond in the sky
Twinkle twinkle little star
How I wonder what you are



Twinkle twinkle little star
How I wonder what you are
Up above the world so high
Like a diamond in the sky
Twinkle twinkle little star
How I wonder what you are

In [9]:
# tuple
a = (2,3434,5,5467)
print(a,type(a))

(2, 3434, 5, 5467) <class 'tuple'>

In [10]:
# tuple
a = (2,)
print(a,type(a))

(2,) <class 'tuple'>

In [11]:
# tuple
a = [2,3434,5,5467]
print(a,type(a))

[2, 3434, 5, 5467] <class 'list'>

In [12]:
a[2] = 4000

In [13]:
print(a)

[2, 3434, 4000, 5467]

In [14]:
a = (3,544,5,346,567)

print(a[3])

346

In [15]:
a[3] = 900

TypeError: 'tuple' object does not support item assignment

In [ ]:
a = list(a)
a[3] = 900
a = tuple(a)
print(a)

In [ ]:
std_id = [1,1,2,2,2,2,23,3,3,3,4,4,45]

print(std_id)

In [ ]:
std_id = list(set(std_id))
print(std_id)

In [16]:
# dict:- key value pair datatype, # hash

a = {'Name':'Aman','Age':23,'Address':'Delhi'}
print(a,type(a))

{'Name': 'Aman', 'Age': 23, 'Address': 'Delhi'} <class 'dict'>

In [17]:
a['Address'] = 'Noida/Gr Noida'

In [18]:
print(a)

{'Name': 'Aman', 'Age': 23, 'Address': 'Noida/Gr Noida'}

In [19]:
a['Name'] = 'Aman Kumar'

In [20]:
print(a)

{'Name': 'Aman Kumar', 'Age': 23, 'Address': 'Noida/Gr Noida'}

In [21]:
data = {'Region':['West','East','North','South'],
        'Sales':[345,546,453,456],
        'Profit':[120,200,90,78]}

print(data)

{'Region': ['West', 'East', 'North', 'South'], 'Sales': [345, 546, 453, 456], 'Profit': [120, 200, 90, 78]}

In [22]:
import pandas as pd

table = pd.DataFrame(data)
table

  Region  Sales  Profit
0   West    345     120
1   East    546     200
2  North    453      90
3  South    456      78

In [23]:
table

  Region  Sales  Profit
0   West    345     120
1   East    546     200
2  North    453      90
3  South    456      78

In [24]:
a = True
print(a,type(a))

True <class 'bool'>

In [25]:
# #int,float, complex
# str, tuple, list
# set, dict,
# # bool

In [26]:
# salary = 56789

# >= 50: manager
# >= 30: Jr manager
# >= 20: Executive
# Intern

In [27]:
salary = 27800
if salary >= 50000:
  print('Manager')
elif salary >= 30000:
  print('Jr Manager')
elif salary >= 20000:
  print('Executive')
else:
  print('Intern')

Executive

In [28]:
import random
random.randint(10000,60000,5)

TypeError: Random.randint() takes 3 positional arguments but 4 were given

In [29]:
import numpy as np
database_salary = np.random.randint(10000,60000,5)

In [30]:
print(salary)

27800

In [31]:
for i in database_salary:
  salary = i
  if salary >= 50000:
    print(i, 'Manager')
  elif salary >= 30000:
    print(i, 'Jr Manager')
  elif salary >= 20000:
    print(i, 'Executive')
  else:
    print(i, 'Intern')

23930 Executive
53947 Manager
12714 Intern
39783 Jr Manager
30908 Jr Manager

In [32]:
import time
for i in range(20):
  print(time.asctime())
  time.sleep(1)
  display(clear= True)

Fri Jul  4 01:34:45 2025

In [33]:
import random
comp_choice = random.randint(1,10)
user_choice = int(input('Enter your Choice(1-10): '))

print(f'''
User choice: {user_choice}
Computer Choice: {comp_choice}''')

if user_choice == comp_choice:
  print('User Won, Comp Lose!!')
else:
  print('Better Luck next time!!')

KeyboardInterrupt: Interrupted by user

In [ ]:
user_attempts = 3
import random
for i in range(user_attempts):
  comp_choice = random.randint(1,10)
  user_choice = int(input('Enter your Choice(1-10): '))

  print(f'''
  User choice: {user_choice}
  Computer Choice: {comp_choice}''')

  if user_choice == comp_choice:
    print('User Won, Comp Lose!!')
  else:
    print('Better Luck next time!!')

In [ ]:
Questions[1]

In [ ]:
Questions = {1:'What is the capital of Australia?',
             2:'Who invented the telephone?',
             3:'Which planet is known as the Red Planet?',
             4:'In which year did India gain independence?',
             5:'What is the largest organ in the human body?'}

options = {1:'''A) Sydney
B) Melbourne
C) Canberra
D) Perth''',
           2:'''A) Albert Einstein
B) Isaac Newton
C) Alexander Graham Bell
D) Thomas Edison''',
           3:'''A) Earth
B) Venus
C) Jupiter
D) Mars''',
           4:'''A) 1945
B) 1946
C) 1947
D) 1950''',
           5:'''A) Liver
B) Brain
C) Skin
D) Heart'''}

win_ammount = 0

correct_op = ['C','C','D','C','C']

for i in range(1,len(Questions)+1):
  print(f'Question {i}: ',Questions[i])
  print(options[i])
  user_choice = input('Enter your choice: ').upper()

  correct_ans = correct_op[i-1]
  # print(correct_ans)
  if user_choice == correct_ans:
    win_ammount += 10000
    print('Correct Answer!!')
    print(end = '\n'*3)

  else:
    print('Better luck next time!!')
    break


print('Total Amount',win_ammount)

In [ ]:
def say_hello(name):
  print(f'Hello {name},','how are you??')

In [ ]:
say_hello('Mohan')

In [ ]:
def vote(age):
  print('can Vote!!') if age >= 18 else print('can not Vote!!')

In [7]:
vote(3)

NameError: name 'vote' is not defined

In [ ]:
!pip install gTTS

In [8]:
def sound_box(paisa,platform = 'Paytm'):
    text  = f'''{platform} par {paisa} rs Prapt hue.'''
    audio = gTTS(text)
    audio.save('paytm.mp3')

    import pygame as p
    p.init()

    music = p.mixer.Sound('paytm.mp3')
    music.play()

In [9]:
!pip install pygame

Requirement already satisfied: pygame in c:\programdata\anaconda3\lib\site-packages (2.6.1)

In [10]:
import qrcode
img = qrcode.make('https://colab.research.google.com/drive/1385I2mII09dDP9aHBhWqaBtuIJwGUZhD?usp=sharing')
img.save('myqr.png')