In [1]:
#pip install PyMySQL

In [2]:
import pymysql as py
print('done')

done

In [3]:
conn = py.connect(user = 'root',
           password='07Feb@2004',
           host='localhost',
           autocommit = True)

print('Connection Created Successfully!!')
print('Done')

Connection Created Successfully!!
Done

In [4]:
#output connection created done

In [5]:
#create database using python
cur = conn.cursor()
print('done')

done

In [7]:
query = '''create database IITM_Day_5;'''
cur.execute(query)
print('done')

done

In [9]:
query = 'USE IITM_Day_5;'
cur.execute(query)
print('done')

done

In [10]:
query = '''create table student_details
(SID int not null,
student_name varchar(50),
course varchar(50),
Address varchar(50),
Scholarship float
)'''
cur.execute(query)
print('done')

done

In [15]:
query = '''insert into student_details
values
(101,"Mohan Sharma","BCA","Delhi Janakpuri",5000),
(105,"Ravi verma","MCA","South Delhi",5500);
'''

In [ ]:
SELECT * from IITM_Day_5.student_details;

In [28]:
n= 3
for i in range(n):
        sid = int(input('Enter Roll No/SID: '))
        name = input('Enter your Name: ')
        course = input('Enter your course: ')
        address = input('Enter  your Address: ')
        scholarship = float(input('Enter your scholarship in RS: '))
        q = f'''insert into student_details values
        ({sid},"{name}","{course}","{address}",{scholarship});'''
        cur.execute(q)
        print('record inserted successfully!!')
        print('done')

Enter Roll No/SID:  35
Enter your Name:  Vanshika
Enter your course:  BCA
Enter  your Address:  xyz
Enter your scholarship in RS:  200000

record inserted successfully!!
done

Enter Roll No/SID:  26
Enter your Name:  riya
Enter your course:  BCA
Enter  your Address:  abc
Enter your scholarship in RS:  100000

record inserted successfully!!
done

Enter Roll No/SID:  66
Enter your Name:  salina
Enter your course:  BBA
Enter  your Address:  pqr
Enter your scholarship in RS:  250000

record inserted successfully!!
done

In [ ]:
query = '''select * from student_details;''' 
cur.execute(query)
records = cur.fetchall()

all_columns = []
for i in cur.description:
 all_columns.append(i[0])
 import pandas as pd
 pd.DataFrame(records,columns=all_columns)

In [41]:
for i in cur.description:
 print(i)

('SID', 3, None, 11, 11, 0, False)
('student_name', 253, None, 200, 200, 0, True)
('course', 253, None, 200, 200, 0, True)
('Address', 253, None, 200, 200, 0, True)
('Scholarship', 4, None, 12, 12, 31, True)

In [42]:
for i in cur.description:
 print(i[0])

SID
student_name
course
Address
Scholarship

In [44]:
for i in cur.description:
 all_columns.append(i[0])

In [46]:
query = '''select * from student_details;''' 
cur.execute(query)
records = cur.fetchall()

all_columns = []
for i in cur.description:
    all_columns.append(i[0])
    import pandas as pd
    df = pd.DataFrame(records,columns=all_columns)
    df

ValueError: 1 columns passed, passed data had 5 columns

In [ ]:
def show_records(db,table):
 query = f'''select * from {db}.{table};''' 
 cur.execute(query)
 records = cur.fetchall()

all_columns = []
for i in cur.description:
    all_columns.append(i[0])


import pandas as pd
df = pd.DataFrame(records,columns=all_columns)
return df