In [1]:
!pip install qrcode
import qrcode
img = qrcode.make('https://colab.research.google.com/drive/1385I2mII09dDP9aHBhWqaBtuIJwGUZhD?usp=sharing')
img.save('myqr.png')

Collecting qrcode
  Downloading qrcode-8.2-py3-none-any.whl.metadata (17 kB)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from qrcode) (0.4.6)
Downloading qrcode-8.2-py3-none-any.whl (45 kB)
Installing collected packages: qrcode
Successfully installed qrcode-8.2

In [2]:
def check_palindrome(word):
    return word

In [3]:
check_palindrome('Ajay')

'Ajay'

In [4]:
a = 'lucky'
a[::-1]

'ykcul'

In [5]:
a = 'nitin'

if a == a[::-1]:
  print(f'{a} is a Palindrome')
else:
  print(f'{a} is Not a Palindrome')

nitin is a Palindrome

In [6]:
def check_palindrome(word:str):
  if type(word) == str:
    word = word.upper()
    if word == word[::-1]:
      return 'Palindrome'
    else:
      return 'Not a Plaindrome'
  else:
    return 'Invalid Data Type'

In [7]:
check_palindrome('harry')

'Not a Plaindrome'

In [8]:
a:int = 'Mohan'
print(a)

Mohan

In [9]:
def give_fibo(n):
  fibo = [0,1]
  for i in range(n-2):
     last_num = fibo[-1]
     second_last_num = fibo[-2]
     next_num = last_num + second_last_num
     fibo.append(next_num)
  return fibo

In [10]:
data = [34,65,654,76,856]
print(data[-1])
print(data[-2])

856
76

In [11]:
def give_fibo(n):
  fibo = [0,1]
  for i in range(n-2):
     last_num = fibo[-1]
     second_last_num = fibo[-2]
     next_num = last_num + second_last_num
     fibo.append(next_num)
  return fibo

In [12]:
print(give_fibo(20))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181]

In [13]:
def check_prime(number):
    for i in range(2,number):
        if number % i == 0:
            return 'Not a Prime Number'
            break
            print('Happy Holi')
    else:
        return 'Prime Number'

In [14]:
n = 5

for i in range(1,n+1):
  print(i * '* ')

*
* *
* * *
* * * *
* * * * *

In [15]:
n = 5

for i in range(1,n+1):
  print(' '*(n-i) + i*'* ')

    *
   * *
  * * *
 * * * *
* * * * *

In [16]:
'hello' + 'World'

'helloWorld'

In [17]:
def print_star(n = 5, typ = 'left',shape = '*'):
  if typ  == 'left':
    space  = ''

  elif typ == 'right':
    space = '  '

  elif typ == 'mid':
    space = ' '

  for i in range(1,n+1):
    print(space*(n-i) + i*f'{shape} ')

In [18]:
print_star(6,'left','%')

%
% %
% % %
% % % %
% % % % %
% % % % % %

In [19]:
def sum_of_n_natural_numbers(n):
    result = 0
    for i in range(1,n+1):
        result += i
    return result

In [20]:
def factorial(n):
    result = 1
    for i in range(1,n+1):
        result *= i
    return result

In [21]:
def total_sales(*args):
  #unpacking
  result = 0
  for i in args:
    result += i
  return result

In [22]:
total_sales(1,2,76,56,98)

233

In [23]:
sales = [45678,63,456,347,3245]

# min(sales)

In [24]:
sales = [45678,63,456,2,0]
min_element = sales[0]

for i in sales[1:]:
  if i < min_element:
    min_element = i
print(min_element)

0

In [25]:
def minn(*data):
  min_ele = data[0]
  for i in data[1:]:
    if i< min_ele:
      min_ele = i
  return min_ele

In [26]:
minn(376,246,354,8,667,468)

8

In [27]:
# max()

In [28]:
company = ['ola','uber','rapido','indrive','adani','tata']

# ['#OLA','#UBER','#RAPIDO']



def add_hashtag(*company):
  result = []
  for i in company:
    result.append('#'+i.upper())
  return result

In [29]:
add_hashtag(*company)

['#OLA', '#UBER', '#RAPIDO', '#INDRIVE', '#ADANI', '#TATA']

In [30]:
def store_records(name,age,sec,roll_no,Class):
  data = {'Name':name,'Age':age,'Sec':sec,'Roll_NO':roll_no,'Class':Class}
  import pandas as pd
  result = pd.DataFrame(data,index = [0])
  return result

In [31]:
store_records('Mohan',21,'A',12,12)
store_records('Karan',21,'A',12,12)
store_records('Naman',21,'A',12,12)

    Name  Age Sec  Roll_NO  Class
0  Naman   21   A       12     12

In [32]:
def students_records(**kwargs):
    # print(kwargs)
    # try exception
    import pandas as pd
    try:
        result = pd.DataFrame(kwargs)
        return result
    except:
        result = pd.DataFrame(kwargs,index = [1])
        return result

In [33]:
students_records(Name = ['Komal','Mohan','Ajay'],
                 Age = [23,45,56],
                 Roll_No = [23,32,67],
                 Address = ['Noida','Delhi','Greater Noida'])

    Name  Age  Roll_No        Address
0  Komal   23       23          Noida
1  Mohan   45       32          Delhi
2   Ajay   56       67  Greater Noida